* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

@mixin flex-column($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    width: 100%;

    nav {
        width: 100%;
        padding: 1.2rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        z-index: 1;

        .left {
            scale: 0.8;
        }

        .right {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            a:nth-child(3) {
                color: #0468D7;
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 0.9rem;
                font-weight: 500;
                color: #4a4a4a;
            }

            a:hover {
                color: #0468D7;
            }

            .get-start-btn {
                background-color: #0468D7;
                color: white;
                border: none;
                padding: 0.6rem 1.8rem;
                border-radius: 1.2rem;
                font-size: 1rem;
            }

            .search-btn {
                border: none;
                background-color: transparent;
                font-size: 1rem;
                color: #4a4a4a;
                font-weight: bold;
            }

            .menu-opt {
                display: none;
            }

            .menu-line {
                font-size: 1.4rem;
                font-weight: bold;
                border: none;
                padding: 1rem;
                background-color: transparent;
            }
        }
    }

    .section-1 {
        width: 100%;
        padding: 3rem 1rem;
        @include flex-column(4rem);
        background: linear-gradient(to bottom, white 60%, #e7c5d1);

        .top {
            display: flex;
            flex-direction: column-reverse;
            gap: 2rem;

            .left {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 1.4rem;
                line-height: 3rem;
            }

            .right {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        .bottom {
            padding: 1.6rem;

            h2 {
                text-align: center;
                font-size: 2rem;
                font-weight: 400;
            }
        }

    }

    .section-2 {
        width: 100%;
        padding: 4rem 1rem;
        @include flex-column(4rem);

        .card {
            @include flex-column(1rem);
            justify-content: center;
            padding: 1.8rem 0.7rem;
            border-top: 2px solid #e7c5d1af;

            h3 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1.1rem;
                opacity: 0.8;
                line-height: 1.5;
            }

            img {
                width: 100%;
                scale: 0.9;
            }
        }
    }

    .section-3 {
        width: 100%;
        padding: 1rem 1.5rem;
        @include flex-column(4rem);

        .top {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .bottom {
            @include flex-column(1rem);
            width: 100%;
            align-items: flex-start;

            h3 {
                font-size: 1.2rem;
                opacity: 0.6;
            }

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1.1rem;
                opacity: 0.7;
                line-height: 1.4;
                padding-right: 1.5rem;
            }

            button {
                background-color: transparent;
                border: 2px solid #0468D7;
                color: #0468D7;
                padding: 0.8rem 2.2rem;
                font-size: 0.9rem;
                font-weight: bold;
                border-radius: 2rem;
            }

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 0.9rem;
                padding-left: 2rem;
                cursor: pointer;
            }
        }
    }

    .section-4 {
        width: 100%;
        padding: 4rem 1.5rem;
        @include flex-column(4rem);
        background: linear-gradient(to bottom, white, #fcfce2 40%);

        .top {
            width: 100%;

            img {
                width: 100%
            }
        }

        .bottom {
            @include flex-column(1rem);
            width: 100%;
            align-items: flex-start;

            h3 {
                font-size: 1.2rem;
                opacity: 0.6;
            }

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1.1rem;
                opacity: 0.7;
                line-height: 1.4;
                padding-right: 1.5rem;
            }

            button {
                background-color: #0468D7;
                color: white;
                padding: 0.8rem 2.2rem;
                font-size: 0.9rem;
                font-weight: bold;
                border-radius: 2rem;
                border: none;
            }
        }
    }

    .section-5 {
        width: 100%;
        padding: 4rem 1.5rem;
        @include flex-column(3rem);

        .top {
            width: 100%;

            img {
                width: 100%
            }
        }

        .bottom {
            @include flex-column(1rem);
            width: 100%;
            align-items: flex-start;

            h3 {
                font-size: 1.2rem;
                opacity: 0.6;
            }

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1.1rem;
                opacity: 0.7;
                line-height: 1.4;
                padding-right: 1.5rem;
            }

            button {
                background-color: transparent;
                color: #0468D7;
                padding: 0.8rem 2.2rem;
                font-size: 0.9rem;
                font-weight: bold;
                border-radius: 2rem;
                border: 2px solid #0468D7;
            }
        }
    }

    .section-6 {
        width: 100%;
        padding: 4rem 1.5rem;
        @include flex-column(4rem);
        background: linear-gradient(to bottom, white, #fcfce2 40%);

        .top {
            width: 100%;

            img {
                width: 100%
            }
        }

        .bottom {
            @include flex-column(1rem);
            width: 100%;
            align-items: flex-start;

            h3 {
                font-size: 1.2rem;
                opacity: 0.6;
            }

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1.1rem;
                opacity: 0.7;
                line-height: 1.4;
                padding-right: 1.5rem;
            }

            button {
                background-color: #0468D7;
                color: white;
                padding: 0.8rem 2.2rem;
                font-size: 0.9rem;
                font-weight: bold;
                border-radius: 2rem;
                border: none;
            }
        }
    }
}

@media (min-width:1024px) {
    main {
        nav {
            position: fixed;
            background-color: white;
            padding: 1rem 2.8rem;

            .right {
                .menu-opt {
                    display: inline;
                }

                .menu-line {
                    display: none;
                }
            }
        }

        .section-1 {
            padding: 5rem;
            background: linear-gradient(-160deg, white 50%, #e7c5d1);

            .top {
                flex-direction: row;

                .left,
                .right {
                    width: 50%;
                }

                .left {
                    padding: 8rem;
                    font-size: 2.2rem;
                    line-height: 1;
                    text-align: left;
                }
            }

            .bottom {
                padding: 0rem 12rem;

                h2 {
                    font-size: 2.2rem;
                }
            }
        }

        .section-2 {
            flex-direction: row;
            padding: 2rem 10rem;

            .card {
                gap: 1.6rem;

                h3 {
                    font-size: 1.8rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }

        .section-3 {
            flex-direction: row-reverse;
            padding: 1rem 10rem;

            .top {
                width: 40%;
            }

            .bottom {
                scale: 1.2;
                width: 60%;
                align-self: center;
                padding: 6rem;
            }
        }

        .section-4 {
            background: linear-gradient(to left bottom, white, #fcfce2 40%);
            flex-direction: row;
            padding: 0rem 8rem;

            .top,
            .bottom {
                width: 50%;
            }

            .top {
                img {
                    scale: 0.8;
                }
            }

            .bottom {
                padding: 4rem;
                font-size: 2.2rem;
                line-height: 1;
                text-align: left;
            }
        }

        .section-5 {
            flex-direction: row-reverse;
            padding: 0rem 8rem;

            .top,
            .bottom {
                width: 50%;
            }

            .top {
                img {
                    scale: 0.8;
                }
            }

            .bottom {
                padding: 4rem;
                font-size: 2.4rem;
                line-height: 1;
                text-align: left;
                align-self: center;
            }
        }

        .section-6 {
            background: linear-gradient(to left bottom, white, #fcfce2 40%);
            flex-direction: row;
            padding: 0rem 8rem;

            .top,
            .bottom {
                width: 50%;
            }

            .top {
                img {
                    scale: 0.8;
                }
            }

            .bottom {
                padding: 4rem;
                font-size: 2.2rem;
                line-height: 1;
                text-align: left;
                align-self: center;
            }
        }
    }
}