* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
}
main nav {
  width: 100%;
  padding: 1.2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
}
main nav .left {
  scale: 0.8;
}
main nav .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
main nav .right a:nth-child(3) {
  color: #0468D7;
}
main nav .right a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  color: #4a4a4a;
}
main nav .right a:hover {
  color: #0468D7;
}
main nav .right .get-start-btn {
  background-color: #0468D7;
  color: white;
  border: none;
  padding: 0.6rem 1.8rem;
  border-radius: 1.2rem;
  font-size: 1rem;
}
main nav .right .search-btn {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: #4a4a4a;
  font-weight: bold;
}
main nav .right .menu-opt {
  display: none;
}
main nav .right .menu-line {
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  padding: 1rem;
  background-color: transparent;
}
main .section-1 {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: linear-gradient(to bottom, white 60%, #e7c5d1);
}
main .section-1 .top {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}
main .section-1 .top .left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  line-height: 3rem;
}
main .section-1 .top .right {
  width: 100%;
}
main .section-1 .top .right img {
  width: 100%;
}
main .section-1 .bottom {
  padding: 1.6rem;
}
main .section-1 .bottom h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
main .section-2 {
  width: 100%;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main .section-2 .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 1.8rem 0.7rem;
  border-top: 2px solid rgba(231, 197, 209, 0.6862745098);
}
main .section-2 .card h3 {
  font-size: 1.5rem;
}
main .section-2 .card p {
  font-size: 1.1rem;
  opacity: 0.8;
  line-height: 1.5;
}
main .section-2 .card img {
  width: 100%;
  scale: 0.9;
}
main .section-3 {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main .section-3 .top {
  width: 100%;
}
main .section-3 .top img {
  width: 100%;
}
main .section-3 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: flex-start;
}
main .section-3 .bottom h3 {
  font-size: 1.2rem;
  opacity: 0.6;
}
main .section-3 .bottom h1 {
  font-size: 3rem;
}
main .section-3 .bottom p {
  font-size: 1.1rem;
  opacity: 0.7;
  line-height: 1.4;
  padding-right: 1.5rem;
}
main .section-3 .bottom button {
  background-color: transparent;
  border: 2px solid #0468D7;
  color: #0468D7;
  padding: 0.8rem 2.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 2rem;
}
main .section-3 .bottom a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
  padding-left: 2rem;
  cursor: pointer;
}
main .section-4 {
  width: 100%;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: linear-gradient(to bottom, white, #fcfce2 40%);
}
main .section-4 .top {
  width: 100%;
}
main .section-4 .top img {
  width: 100%;
}
main .section-4 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: flex-start;
}
main .section-4 .bottom h3 {
  font-size: 1.2rem;
  opacity: 0.6;
}
main .section-4 .bottom h1 {
  font-size: 3rem;
}
main .section-4 .bottom p {
  font-size: 1.1rem;
  opacity: 0.7;
  line-height: 1.4;
  padding-right: 1.5rem;
}
main .section-4 .bottom button {
  background-color: #0468D7;
  color: white;
  padding: 0.8rem 2.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
}
main .section-5 {
  width: 100%;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .section-5 .top {
  width: 100%;
}
main .section-5 .top img {
  width: 100%;
}
main .section-5 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: flex-start;
}
main .section-5 .bottom h3 {
  font-size: 1.2rem;
  opacity: 0.6;
}
main .section-5 .bottom h1 {
  font-size: 3rem;
}
main .section-5 .bottom p {
  font-size: 1.1rem;
  opacity: 0.7;
  line-height: 1.4;
  padding-right: 1.5rem;
}
main .section-5 .bottom button {
  background-color: transparent;
  color: #0468D7;
  padding: 0.8rem 2.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 2rem;
  border: 2px solid #0468D7;
}
main .section-6 {
  width: 100%;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: linear-gradient(to bottom, white, #fcfce2 40%);
}
main .section-6 .top {
  width: 100%;
}
main .section-6 .top img {
  width: 100%;
}
main .section-6 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: flex-start;
}
main .section-6 .bottom h3 {
  font-size: 1.2rem;
  opacity: 0.6;
}
main .section-6 .bottom h1 {
  font-size: 3rem;
}
main .section-6 .bottom p {
  font-size: 1.1rem;
  opacity: 0.7;
  line-height: 1.4;
  padding-right: 1.5rem;
}
main .section-6 .bottom button {
  background-color: #0468D7;
  color: white;
  padding: 0.8rem 2.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
}
main .section-7 {
  width: 100%;
  padding: 4rem 1.5rem;
}
main .section-7 .box {
  color: white;
  padding: 7rem 3rem;
  background-image: url(https://storage.googleapis.com/cms-storage-bucket/get-started-background.72521e62275b24d3c37d.png);
  background-color: #042449;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-radius: 2rem;
}
main .section-7 .box h1 {
  text-align: left;
  font-size: 3rem;
  font-weight: 500;
}
main .section-7 .box h3 {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 300;
}
main .section-7 .box .btns {
  align-self: flex-start;
  display: flex;
  gap: 1rem;
}
main .section-7 .box .btns button:nth-of-type(1) {
  background-color: white;
  color: #0468D7;
  border: none;
  font-size: 0.9rem;
  padding: 0.6rem 1.8rem;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
}
main .section-7 .box .btns button:nth-of-type(2) {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}

@media (min-width: 1024px) {
  main nav {
    position: fixed;
    background-color: white;
    padding: 1rem 2.8rem;
  }
  main nav .right .menu-opt {
    display: inline;
  }
  main nav .right .menu-line {
    display: none;
  }
  main .section-1 {
    padding: 5rem;
    background: linear-gradient(-160deg, white 50%, #e7c5d1);
  }
  main .section-1 .top {
    flex-direction: row;
  }
  main .section-1 .top .left,
  main .section-1 .top .right {
    width: 50%;
  }
  main .section-1 .top .left {
    padding: 8rem;
    font-size: 2.2rem;
    line-height: 1;
    text-align: left;
  }
  main .section-1 .bottom {
    padding: 0rem 12rem;
  }
  main .section-1 .bottom h2 {
    font-size: 2.2rem;
  }
  main .section-2 {
    flex-direction: row;
    padding: 2rem 10rem;
  }
  main .section-2 .card {
    gap: 1.6rem;
  }
  main .section-2 .card h3 {
    font-size: 1.8rem;
  }
  main .section-2 .card p {
    font-size: 1.2rem;
  }
  main .section-3 {
    flex-direction: row-reverse;
    padding: 1rem 10rem;
  }
  main .section-3 .top {
    width: 40%;
  }
  main .section-3 .bottom {
    scale: 1.2;
    width: 60%;
    align-self: center;
    padding: 6rem;
  }
  main .section-4 {
    background: linear-gradient(to left bottom, white, #fcfce2 40%);
    flex-direction: row;
    padding: 0rem 8rem;
  }
  main .section-4 .top,
  main .section-4 .bottom {
    width: 50%;
  }
  main .section-4 .top img {
    scale: 0.8;
  }
  main .section-4 .bottom {
    padding: 4rem;
    font-size: 2.2rem;
    line-height: 1;
    text-align: left;
  }
  main .section-5 {
    flex-direction: row-reverse;
    padding: 0rem 8rem;
  }
  main .section-5 .top,
  main .section-5 .bottom {
    width: 50%;
  }
  main .section-5 .top img {
    scale: 0.8;
  }
  main .section-5 .bottom {
    padding: 4rem;
    font-size: 2.4rem;
    line-height: 1;
    text-align: left;
    align-self: center;
  }
  main .section-6 {
    background: linear-gradient(to left bottom, white, #fcfce2 40%);
    flex-direction: row;
    padding: 0rem 8rem;
  }
  main .section-6 .top,
  main .section-6 .bottom {
    width: 50%;
  }
  main .section-6 .top img {
    scale: 0.8;
  }
  main .section-6 .bottom {
    padding: 4rem;
    font-size: 2.2rem;
    line-height: 1;
    text-align: left;
    align-self: center;
  }
  main .section-7 {
    padding: 5rem 10rem;
  }
  main .section-7 .box {
    background-position: right;
    padding: 4rem 4rem;
  }
  main .section-7 .box h1 {
    font-size: 4rem;
  }
  main .section-7 .box h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }
  main .section-7 .box .btns {
    padding: 1rem 0rem;
    gap: 2rem;
  }
}/*# sourceMappingURL=style.css.map */